<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="resources.css">
    <script src="knockout-3.5.1.js"></script>
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="temp.js"></script>

    <title>Content Fusion</title>
</head>
<body>
    <div class="navigation-bar">
        <a href="index.html" class="navigation-bar-name">ContentFusion</a>
        <button class="auth-button">Войти</button>
    </div>
    <div class="content-block">
        <div class="main-left">
        </div>
    </div>
    <script>
        self.popular = self.articlesFull().sort((a, b) => a > b);
    </script>
</body>
</html>