<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="resources.css">
    <script src="knockout-3.5.1.js"></script>
    <script src="jquery.js"></script>
    <script src="script.js"></script>

    <title>Content Fusion</title>
</head>
<body>
    <div class="navigation-bar">
        <a href="index.html" class="navigation-bar-name">ContentFusion</a>
        <button class="auth-button">Войти</button>
    </div>
    <div class="content-block">
        <div class="categories-block">
            <button class="categories-button"
                data-bind="click: function() {
                    project.nowCategory('new')
                },
                css: { 'categories-button-active': project.nowCategory() == 'new' }">
                Новое
            </button>
            <button class="categories-button"
                data-bind="click: function() {
                    project.nowCategory('popular')
                },
                css: { 'categories-button-active': project.nowCategory() == 'popular' }">
                Популярное
            </button>
            <button class="categories-button"
                data-bind="click: function() {
                    project.nowCategory('category')
                },
                css: { 'categories-button-active': project.nowCategory() == 'category' }">
                Категории
            </button>
        </div>
        <div class="main-left">
            <div onclick="location.href='page.html#1'" class="content-left">
                <img class="content-left-image image-1"/>
                <div class="content-left-text">
                    <span class="content-left-title">
                        Тут что-то есть
                    </span>
                    <span class="content-left-description">
                        Какой-то текст, который содержит в себе короткое описание статьи
                    </span>
                </div>
            </div>
            <div onclick="location.href='page.html#2'" class="content-left">
                <img class="content-left-image image-2" />
                <div class="content-left-text">
                    <span class="content-left-title">
                        Тут что-то есть
                    </span>
                    <span class="content-left-description">
                        Какой-то текст, который содержит в себе короткое описание статьи
                    </span>
                </div>
            </div>
            <div onclick="location.href='page.html#3'" class="content-left">
                <img class="content-left-image image-3" />
                <div class="content-left-text">
                    <span class="content-left-title">
                        Тут что-то есть
                    </span>
                    <span class="content-left-description">
                        Какой-то текст, который содержит в себе короткое описание статьи
                    </span>
                </div>
            </div>
            <div class="content-left">
                <img class="content-left-image image-3" />
                <div class="content-left-text">
                    <span class="content-left-title">
                        Тут что-то есть
                    </span>
                    <span class="content-left-description">
                        Какой-то текст, который содержит в себе короткое описание статьи
                    </span>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="content-right">
                <img class="content-image image-2" />
                <div class="content-text">
                    <b>
                        Здесь будет какая-то информация
                    </b>
                    <span>
                        А здесь что-то поменьше
                    </span>
                </div>
            </div>
            <div class="content-right">
                <img class="content-image image-1" />
                <div class="content-text">
                    <b>
                        Реклама
                    </b>
                    <span>
                        Ещё что-то о рекламе
                    </span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>