<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="resources.css">
    <script src="knockout-3.5.1.js"></script>
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="temp.js"></script>

    <title>Content Fusion</title>
</head>
<body>
    <div class="navigation-bar">
        <a href="index.html" class="navigation-bar-name">ContentFusion</a>
        <button class="auth-button">Войти</button>
    </div>
    <div class="content-block">
        <div class="categories-block">
            <button class="new-article" onclick="location.href='create_article.html'">Написать статью</button>
            <div data-bind="foreach: categoriesTemp().categories">
                <button class="categories-button"
                    data-bind="click: function() {
                        if ($data == 'Популярное')
                            self.articlesTitle(self.articlesTitle().sort((a, b) => a.rating() < b.rating()))
                        else if ($data == 'Новое')
                            self.articlesTitle(self.articlesTitle().sort((a, b) => a.date < b.date))
                        project.nowCategory($data)
                    },
                    css: { 'categories-button-active': project.nowCategory() == $data },
                    text: $data">
                </button>
            </div>
        </div>
        <div class="main-left">
            <!-- ko foreach: articlesTitle -->
            <!-- ko if: project.nowCategory() == 'Новое' || project.nowCategory() == 'Популярное' -->
            <div class="content-left" data-bind="
                click: function() {
                    window.open('page.html#' + id, '_self')
                }">
                <img class="content-left-image image-1"/>
                <div class="content-left-text">
                    <span class="content-left-title" data-bind="text: title">
                    </span>
                    <span class="content-left-description" data-bind="text: description">
                    </span>
                    <div class="content-left-categories" data-bind="text: categories.join(', ')"></div>
                    <div class="content-left-date" data-bind="text: new Date(date).toLocaleString()"></div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: project.nowCategory() == 'Новое' || project.nowCategory() == 'Популярное' -->
                <!-- ko if: categories.includes(project.nowCategory()) -->
                    <div class="content-left" data-bind="
                        click: function() {
                            window.open('page.html#' + id, '_self')
                        }">
                        <img class="content-left-image image-1"/>
                        <div class="content-left-text">
                            <span class="content-left-title" data-bind="text: title">
                            </span>
                            <span class="content-left-description" data-bind="text: description">
                            </span>
                            <div class="content-left-categories" data-bind="text: categories.join(', ')"></div>
                        </div>
                    </div>
                <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="main-right">
            <div class="content-right">
                <img class="content-image image-2" />
                <div class="content-text">
                    <b>
                        Здесь будет какая-то информация
                    </b>
                    <span>
                        А здесь что-то поменьше
                    </span>
                </div>
            </div>
            <div class="content-right">
                <img class="content-image image-1" />
                <div class="content-text">
                    <b>
                        Реклама
                    </b>
                    <span>
                        Ещё что-то о рекламе
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        self.popular = self.articlesFull().sort((a, b) => a > b);
    </script>
</body>
</html>