<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="resources.css">
    <link rel="stylesheet" href="page_style.css">
    <script src="knockout-3.5.1.js"></script>
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="temp.js"></script>

    <title>Статья №1</title>
</head>
<body>
    <!-- ko using: nowPage -->
    <div class="navigation-bar">
        <a href="index.html" class="navigation-bar-name">ContentFusion</a>
    </div>
    <div class="content-block">
        <div class="main-left">
            <div class="page-main-block">
                <div class="page-main-info">
                    <h2 class="page-main-title" data-bind="text: articlesTitle().find(x => x.id == id).title">
                    </h2>
                    <div class="page-main-author">
                        <span data-bind="text: 'Автор: ' + author"></span>
                        <span style="margin-left: 10px" data-bind="text: new Date(articlesTitle().find(x => x.id == id).date).toLocaleString()"></span>
                    </div>
                </div>
                <div class="page-main-content" data-bind="text: text">
                </div>
                <div class="page-main-statistic">
                    <button class="page-main-button-reaction like" data-bind="
                    click: function() {
                        rating(rating() + 1);
                    }">🖒</button>
                    <span style="font-size: 40px; user-select: none;">/</span>
                    <button class="page-main-button-reaction dislike" data-bind="
                    click: function() {
                        rating(rating() - 1);
                    }">🖓</button>
                    <span class="page-main-reaction-count" data-bind="text: rating">
                    </span>
                </div>
                <div class="page-main-comments">
                    <div class="page-main-comments-title">
                        <span>Комментарии</span>
                        <span>(1)</span>
                    </div>
                    <div class="page-main-comments-new-comment">
                        <textarea contenteditable class="page-main-comments-new-comment-input"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="content-right">
                <img class="content-image image-2" />
                <div class="content-text">
                    <b>
                        Здесь будет какая-то информация
                    </b>
                    <span>
                        А здесь что-то поменьше
                    </span>
                </div>
            </div>
            <div class="content-right">
                <img class="content-image image-1" />
                <div class="content-text">
                    <b>
                        Реклама
                    </b>
                    <span>
                        Ещё что-то о рекламе
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <script>
        self.nowPage = ko.observable(articlesFull().find(x => x.id == window.location.hash.replace('#', '')));

        self.nowPage().rating.subscribe(x => {
            if (x > 0)
                $('.page-main-reaction-count').css('color', 'green');
            else if (x < 0)
                $('.page-main-reaction-count').css('color', 'red');
            else if (x == 0)
                $('.page-main-reaction-count').css('color', 'black');
        })

        if (self.nowPage().rating() > 0)
            $('.page-main-reaction-count').css('color', 'green');
        else if (self.nowPage().rating() < 0)
            $('.page-main-reaction-count').css('color', 'red');
        else if (self.nowPage().rating() == 0)
            $('.page-main-reaction-count').css('color', 'black');
    </script>
</body>
</html>